* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

button {
  background-color: rgb(89, 190, 237);
  color: white;
  padding: 10px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.wrapper {
  width: 100vw;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  margin: 20px 0;
}

.posts-info-btn {
  width: 100%;
}

.users {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.user {
  background-color: rgb(59, 60, 56);
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
