* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

button {
  background-color: rgb(89, 190, 237);
  color: white;
  padding: 10px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.wrapper {
  width: 100vw;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.user-info {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
}

.posts-info-btn {
  width: 100%;
  margin-bottom: 10px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.post {
  border: 1px solid black;
  padding: 10px;
}
